@model FirstChallenge.Models.ComicBook
@{
    var title = String.Format("Details About {0} #{1}",
        Model.ComicTitle,
        Model.EpisodeNumber);
    ViewBag.Title = title;
}

@{ 
    var characters = Model.Characters.Select(p => p.Name).ToArray();
    var charactersString = String.Join(", ", characters);
}

<h1>@title</h1>
<h4>Episode Title: @Model.EpisodeTitle</h4>
<p>
    <strong>Starring: </strong> @charactersString
</p>
<hr />

@Html.ActionLink("Back to All Comics", "Index")
